.addButton {
    background-color: #6a8caf !important;
    border: none !important;
    color: white !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px 20px !important;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    border-radius: 12px !important;
}

.addButton:hover {
    background-color: #007bff !important;
    color: white !important;
}

.updateButton {
    background-color: #c9d1da !important;
    border: none !important;
    color: #343a40 !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    border-radius: 12px !important;
    margin-right: 10px !important;
    margin-left: 20px !important;
}

.updateButton:hover {
    background-color: #e9ecef !important;
    color: black !important;
}
.deleteButton {
    background-color: #e6babe !important;
    border: none !important;
    color: white !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    border-radius: 12px !important;
}

.deleteButton:hover {
    background-color: #dc3545 !important;
    color: white !important;
}

.searchBar {
    width: 50% !important;
    padding: 12px 20px !important;
    margin: 8px 0 !important;
    display: inline-block !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
}

.border-top-custom {
    border-top: 20px solid #cccccc !important; /* Change '2px' to the thickness you want */
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;  /* 根据需要调整内边距 */
}

.modal-footer div {
    display: flex;
    gap: 5px; /* 按钮之间的间隔 */
}

.modal-footer .btn-group {
    display: flex;
    align-items: center;
}

/* 可以根据需要添加更多的样式来细化视觉效果 */
